* {
    margin: auto;
    font-family: "Kanit", sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


header .nav {
    background-color: rgb(38, 117, 88);
    font-size: 2em;
    color: white;
    text-decoration: none;
}

header .nav ul {
    list-style-type: none;
    display: flex;
    margin: 0em;
    padding-top: 0em;
    padding-left: 0em;
}

.nav ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 4.2em;
    padding-right: 8.75%;
}

.nav ul li:hover{
    background-color: aquamarine;
}

header .nav a {
    text-decoration: none;
    color: white;
}

.Contact {
    text-decoration: underline;
}