* {
    margin: auto;
    font-family: "Kanit", sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


header .nav {
    background-color: rgb(38, 117, 88);
    font-size: 2em;
    color: white;
    text-decoration: none;
}

header .nav ul {
    list-style-type: none;
    display: flex;
    margin: 0em;
    padding-top: 0em;
    padding-left: 0em;
}

.nav ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 4.2em;
    padding-right: 8.75%;
}

.nav ul li:hover{
    background-color: aquamarine;
}

header .nav a {
    text-decoration: none;
    color: white;
}

h2 {
    color : rgb(38, 117, 88);
    font-size: 270%;
    margin-top: 1em;
    text-align: center;
}

.Project {
    text-decoration: underline;
}

.content{
    display: flex;
}

.card {
    background-color: rgb(38, 117, 88);
    padding: 0.5em;
    margin-top: 2em;
    width: 17em;
    border-radius: 1em;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.line1 {
    display:grid;
}

img {
    width: 17em;
    border-radius: 0.5em;
}

p {
    color: white;
    text-decoration: underline;
}

.content div{
    display:table;
}

footer p {
    background-color: rgb(38, 117, 88);;
    text-align: center;
    color: white;
    margin-bottom: -43%;
    padding-bottom: 1%;
    position: absolute;
    bottom: 0;
    padding-left : 43.87%;
    padding-right: 44.75%;
    padding-top: 0.75%;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(38, 117, 88); 
    border-radius: 1px; 
}


