* {
    margin: auto;
    font-family: "Kanit", sans-serif;
    overflow: hidden;
}

header .nav {
    background-color: rgb(38, 117, 88);
    font-size: 200%;
    color: white;
    text-decoration: none;
}

header .nav ul {
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding-top: 0%;
    padding-left: 0%;
}

.nav ul li {
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 8.5%;
    padding-right: 8.75%;
}

.nav ul li:hover{
    background-color: aquamarine;
}

header .nav a {
    text-decoration: none;
    color: white;
}

.Project {
    text-decoration: underline;
}

.blokus {
    background-color: rgb(38, 117, 88);
    padding: 0.5em;
    margin-top: 2em;
    width: 15em;
    border-radius: 1em;
}

.blokus:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.lfl {
    background-color: rgb(38, 117, 88);
    padding: 0.5em;
    margin-top: 2em;
    width: 15em;
    border-radius: 1em;
}

.lfl:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.lethal {
    background-color: rgb(38, 117, 88);
    padding: 0.5em;
    margin-top: 2em;
    width: 15em;
    border-radius: 1em;
}

.lethal:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

img {
    width: 15em;
    border-radius: 0.5em;
}

p {
    color: white;
    text-decoration: underline;
}

.content{
    display: flex;
}




