* {
    margin: auto;
    font-family: "Kanit", sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


header .nav {
    background-color: rgb(38, 117, 88);
    font-size: 2em;
    color: white;
    text-decoration: none;
}

header .nav ul {
    list-style-type: none;
    display: flex;
    margin: 0em;
    padding-top: 0em;
    padding-left: 0em;
}

.nav ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 4.2em;
    padding-right: 8.75%;
}

.nav ul li:hover{
    background-color: aquamarine;
}

header .nav a {
    text-decoration: none;
    color: white;
}

.Accueil {
    text-decoration: underline;
}

.content {
    display: flex;
}

.content img {
    width: 50em;
    margin-top: 4.2em;
    margin-left: 16em;
    background-color: rgb(38, 117, 88);
    padding: 1em;
    border-radius: 1em;
}

.content .text {
    display: block;
    margin-left: 4em;
}

.content .text h2 {
    font-size: 4em;
    color:rgb(38, 117, 88);
}

.content .text p {
    margin-right: 15em;
    font-size: 1.5em;
}

footer p {
    background-color: rgb(38, 117, 88);
    text-align: center;
    color: white;
    margin-top: 7.5%;
    padding-bottom: 1%;
    position: absolute;
    bottom: 0;
    padding-left : 43.2em;
    padding-right: 42em;
    padding-top: 0.75%;
}