* {
    margin: auto;
    font-family: "Kanit", sans-serif;
    overflow: hidden;
}

header .nav {
    background-color: rgb(38, 117, 88);
    font-size: 200%;
    color: white;
    text-decoration: none;
}

header .nav ul {
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding-top: 0%;
    padding-left: 0%;
}

.nav ul li {
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 8.5%;
    padding-right: 8.75%;
}

.nav ul li:hover{
    background-color: aquamarine;
}

header .nav a {
    text-decoration: none;
    color: white;
}

.Accueil {
    text-decoration: underline;
}

.content {
    display: flex;
}

.content img {
    width: 30%;
    margin-top: 5%;
    margin-left: 19.5%;
    background-color: rgb(38, 117, 88);
    padding: 1%;
    border-radius: 5%;

}

.content .text {
    display: block;
    margin-left: 4%;
}

.content .text h2 {
    font-size: 220%;
    color:rgb(38, 117, 88);
}

.content .text p {
    margin-right: 30%;
    font-size: 150%
}

footer p {
    background-color: rgb(38, 117, 88);;
    text-align: center;
    color: white;
    margin-top: 10.5%;
    padding-bottom: 1%;
    position: absolute;
    bottom: 0;
    padding-left : 44%;
    padding-right: 44.75%;
    padding-top: 0.75%;
}